/* line 61, ../../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 87.5%;
}

/* line 64, ../../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 14px;
  line-height: 1.71429em;
}

/* line 10, ../sass/styles.sass */
body {
  font-family: "Proxima Nova", sans-serif;
  text-align: justify;
}

/* line 14, ../sass/styles.sass */
p {
  font-weight: 300;
}

/* line 17, ../sass/styles.sass */
h1, h2, h3 {
  font-weight: 700;
}

/* line 20, ../sass/styles.sass */
h1 {
  display: none;
}

/* line 23, ../sass/styles.sass */
h2 {
  font-size: 1.8em;
  line-height: 1.90476em;
  color: #84bd00;
  margin: 0.85714em 0;
  border-bottom: 2px solid #84bd00;
}

/* line 29, ../sass/styles.sass */
h3 {
  font-size: 1.5em;
  line-height: 2.28571em;
}

/* line 32, ../sass/styles.sass */
img.logo {
  width: 100%;
}

/* line 35, ../sass/styles.sass */
pre {
  padding-left: 1.71429em;
  page-break-inside: avoid;
}

/* line 39, ../sass/styles.sass */
code {
  font-family: Monaco;
}

/* line 42, ../sass/styles.sass */
.tip {
  margin-top: 2.57143em;
  padding-top: 0.85714em;
  padding-bottom: 0.85714em;
  margin-bottom: 2.57143em;
  position: relative;
  padding-left: 72px;
  padding-right: 48px;
  border: 2px solid #84bd00;
  page-break-inside: avoid;
}
/* line 49, ../sass/styles.sass */
.tip::before {
  font-size: 2.14286em;
  line-height: 1.6em;
  content: "!";
  position: absolute;
  color: white;
  background: #84bd00;
  top: 0;
  left: 0;
  height: 100%;
  width: 48px;
  text-align: center;
}
