/* line 103, monkey70/*.png */
.monkey70-sprite, .monkey70-laugh1, .monkey70-pick1, .monkey70-pick2, .monkey70-run1, .monkey70-run2, .monkey70-run3, .monkey70-stand1, .monkey70-stand2 {
  background-image: url('../img/monkey70-s87c15e42cb.png');
  background-repeat: no-repeat;
}

/* line 77, ../../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.monkey70-laugh1 {
  background-position: 0 0;
}

/* line 77, ../../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.monkey70-pick1 {
  background-position: -70px 0;
}

/* line 77, ../../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.monkey70-pick2 {
  background-position: -140px 0;
}

/* line 77, ../../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.monkey70-run1 {
  background-position: -210px 0;
}

/* line 77, ../../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.monkey70-run2 {
  background-position: -280px 0;
}

/* line 77, ../../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.monkey70-run3 {
  background-position: -350px 0;
}

/* line 77, ../../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.monkey70-stand1 {
  background-position: -420px 0;
}

/* line 77, ../../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.monkey70-stand2 {
  background-position: -490px 0;
}

/* line 15, ../sass/sprites.sass */
* {
  image-rendering: -webkit-optimize-contrast;
}

/* line 18, ../sass/sprites.sass */
.monkey70-sprite, .monkey70-laugh1, .monkey70-pick1, .monkey70-pick2, .monkey70-run1, .monkey70-run2, .monkey70-run3, .monkey70-stand1, .monkey70-stand2 {
  width: 70px;
  height: 70px;
  margin: 0;
  padding: 0;
}

/* line 24, ../sass/sprites.sass */
.running {
  -webkit-animation: running 0.5s steps(3) infinite;
}

/* line 27, ../sass/sprites.sass */
.standing {
  -webkit-animation: standing 1.5s steps(2) infinite;
}

/* line 30, ../sass/sprites.sass */
.grabbing {
  -webkit-animation: grabbing 0.55s steps(2) infinite;
}

@-webkit-keyframes running {
  /* line 34, ../sass/sprites.sass */
  from {
    background-position: -210px;
  }

  /* line 36, ../sass/sprites.sass */
  to {
    background-position: -420px;
  }
}

@-webkit-keyframes standing {
  /* line 40, ../sass/sprites.sass */
  from {
    background-position: -420px;
  }

  /* line 42, ../sass/sprites.sass */
  to {
    background-position: -560px;
  }
}

@-webkit-keyframes grabbing {
  /* line 46, ../sass/sprites.sass */
  from {
    background-position: -70px;
  }

  /* line 48, ../sass/sprites.sass */
  to {
    background-position: -210px;
  }
}
