/* line 63, Monkey-running/*.png */
.Monkey-running-sprite, .Monkey-running-run1, .Monkey-running-run2, .Monkey-running-run3 {
  background-image: url('../img/Monkey-running-s63573ff88f.png');
  background-repeat: no-repeat;
}

/* line 77, ../../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.Monkey-running-run1 {
  background-position: 0 0;
}

/* line 77, ../../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.Monkey-running-run2 {
  background-position: -70px 0;
}

/* line 77, ../../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.Monkey-running-run3 {
  background-position: -140px 0;
}

/* line 55, Monkey-standing/*.png */
.Monkey-standing-sprite, .Monkey-standing-stand1, .Monkey-standing-stand2 {
  background-image: url('../img/Monkey-standing-sb4da98c4d0.png');
  background-repeat: no-repeat;
}

/* line 77, ../../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.Monkey-standing-stand1 {
  background-position: 0 0;
}

/* line 77, ../../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.Monkey-standing-stand2 {
  background-position: -70px 0;
}

/* line 21, ../sass/sprites.sass */
* {
  image-rendering: -webkit-optimize-contrast;
}

/* line 24, ../sass/sprites.sass */
.basket-sprite {
  background-image: url('../img/pipe.png?1367153288');
}

/* line 27, ../sass/sprites.sass */
.unit {
  width: 70px;
  height: 70px;
  margin: 0;
  padding: 0;
}

/* line 33, ../sass/sprites.sass */
.monkey-sprite {
  width: 70px;
  height: 70px;
  margin: 0;
  padding: 0;
}

/* line 39, ../sass/sprites.sass */
.running {
  -webkit-animation: running 0.5s steps(3) infinite;
}

/* line 42, ../sass/sprites.sass */
.standing {
  -webkit-animation: standing 1.5s steps(2) infinite;
}

/* line 45, ../sass/sprites.sass */
.grabbing {
  -webkit-animation: grabbing 0.55s steps(2) infinite;
}

/* line 48, ../sass/sprites.sass */
.left {
  -webkit-transform: scaleX(-1);
}

@-webkit-keyframes running {
  /* line 52, ../sass/sprites.sass */
  from {
    background-position: -210px;
  }

  /* line 54, ../sass/sprites.sass */
  to {
    background-position: -420px;
  }
}

@-webkit-keyframes standing {
  /* line 58, ../sass/sprites.sass */
  from {
    background-position: -420px;
  }

  /* line 60, ../sass/sprites.sass */
  to {
    background-position: -560px;
  }
}

@-webkit-keyframes grabbing {
  /* line 64, ../sass/sprites.sass */
  from {
    background-position: -70px;
  }

  /* line 66, ../sass/sprites.sass */
  to {
    background-position: -210px;
  }
}
