/* line 103, monkey/*.png */
.monkey-sprite, .monkey-laugh1, .monkey-pick1, .monkey-pick2, .monkey-run1, .monkey-run2, .monkey-run3, .monkey-stand1, .monkey-stand2 {
  background-image: url('../img/monkey-se33f1106de.png');
  background-repeat: no-repeat;
}

/* line 77, ../../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.monkey-laugh1 {
  background-position: 0 0;
}

/* line 77, ../../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.monkey-pick1 {
  background-position: -70px 0;
}

/* line 77, ../../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.monkey-pick2 {
  background-position: -140px 0;
}

/* line 77, ../../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.monkey-run1 {
  background-position: -210px 0;
}

/* line 77, ../../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.monkey-run2 {
  background-position: -280px 0;
}

/* line 77, ../../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.monkey-run3 {
  background-position: -350px 0;
}

/* line 77, ../../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.monkey-stand1 {
  background-position: -420px 0;
}

/* line 77, ../../../../../../.rbenv/versions/1.9.3-p374/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.monkey-stand2 {
  background-position: -490px 0;
}

/* line 15, ../sass/sprites.sass */
* {
  image-rendering: -webkit-optimize-contrast;
}

/* line 18, ../sass/sprites.sass */
.basket-sprite {
  background-image: url('../img/pipe.png?1367153288');
}

/* line 21, ../sass/sprites.sass */
.monkey-sprite, .monkey-laugh1, .monkey-pick1, .monkey-pick2, .monkey-run1, .monkey-run2, .monkey-run3, .monkey-stand1, .monkey-stand2 {
  width: 70px;
  height: 70px;
  margin: 0;
  padding: 0;
}

/* line 27, ../sass/sprites.sass */
.running {
  -webkit-animation: running 0.5s steps(3) infinite;
}

/* line 30, ../sass/sprites.sass */
.standing {
  -webkit-animation: standing 1.5s steps(2) infinite;
}

/* line 33, ../sass/sprites.sass */
.grabbing {
  -webkit-animation: grabbing 0.55s steps(2) infinite;
}

/* line 36, ../sass/sprites.sass */
.left {
  -webkit-transform: scaleX(-1);
}

@-webkit-keyframes running {
  /* line 40, ../sass/sprites.sass */
  from {
    background-position: -210px;
  }

  /* line 42, ../sass/sprites.sass */
  to {
    background-position: -420px;
  }
}

@-webkit-keyframes standing {
  /* line 46, ../sass/sprites.sass */
  from {
    background-position: -420px;
  }

  /* line 48, ../sass/sprites.sass */
  to {
    background-position: -560px;
  }
}

@-webkit-keyframes grabbing {
  /* line 52, ../sass/sprites.sass */
  from {
    background-position: -70px;
  }

  /* line 54, ../sass/sprites.sass */
  to {
    background-position: -210px;
  }
}
