/* line 12, ../sass/styles.sass */
html, body {
  margin: 0;
  padding: 0;
  font-family: "8-Bit Madness";
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* line 20, ../sass/styles.sass */
* {
  box-sizing: border-box;
}

/* line 23, ../sass/styles.sass */
body {
  background: #84bd00;
}

/* line 26, ../sass/styles.sass */
table#scoreboard {
  table-layout: fixed;
  margin-top: 10px;
  position: absolute;
  width: 100%;
  z-index: 5;
}
/* line 32, ../sass/styles.sass */
table#scoreboard td {
  text-align: center;
}
/* line 34, ../sass/styles.sass */
table#scoreboard tr.scores {
  font-size: 80px;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.3);
}
/* line 37, ../sass/styles.sass */
table#scoreboard tr.teams {
  font-size: 25px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 40, ../sass/styles.sass */
table#scoreboard tr.teams td:nth-child(n) {
  color: #0000e6;
}
/* line 42, ../sass/styles.sass */
table#scoreboard tr.teams td:nth-child(2n) {
  color: #ff1a1a;
}
/* line 44, ../sass/styles.sass */
table#scoreboard tr.teams td:nth-child(3n) {
  color: #00e6e6;
}

/* line 47, ../sass/styles.sass */
#arena {
  height: 80%;
}
/* line 49, ../sass/styles.sass */
#arena .unit {
  font-size: 1.8em;
  position: absolute;
  text-align: center;
}
/* line 53, ../sass/styles.sass */
#arena .monkey {
  color: #7c4e20;
  font-size: 4em;
}
/* line 56, ../sass/styles.sass */
#arena .monkey::after {
  content: "\1F435";
}
/* line 58, ../sass/styles.sass */
#arena .track {
  text-shadow: 0.15em 0.15em rgba(0, 0, 0, 0.3);
  color: black;
  font-size: 3em;
  -webkit-animation: bounce 3s infinite;
  -moz-animation: bounce 3s infinite;
  -ms-animation: bounce 3s infinite;
  -o-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}
/* line 63, ../sass/styles.sass */
#arena .track::after {
  content: "\266A";
}
/* line 65, ../sass/styles.sass */
#arena .basket {
  color: black;
  font-size: 4em;
}
/* line 68, ../sass/styles.sass */
#arena .basket::after {
  content: "B";
}

@-moz-keyframes bounce {
  /* line 72, ../sass/styles.sass */
  0%, 100% {
    -moz-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  /* line 74, ../sass/styles.sass */
  50% {
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }
}

@-webkit-keyframes bounce {
  /* line 72, ../sass/styles.sass */
  0%, 100% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  /* line 74, ../sass/styles.sass */
  50% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }
}

@-o-keyframes bounce {
  /* line 72, ../sass/styles.sass */
  0%, 100% {
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  /* line 74, ../sass/styles.sass */
  50% {
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
  }
}

@-ms-keyframes bounce {
  /* line 72, ../sass/styles.sass */
  0%, 100% {
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }

  /* line 74, ../sass/styles.sass */
  50% {
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }
}

@keyframes bounce {
  /* line 72, ../sass/styles.sass */
  0%, 100% {
    transform: rotate(-15deg);
  }

  /* line 74, ../sass/styles.sass */
  50% {
    transform: rotate(15deg);
  }
}
