/* line 58, Monkey-running/*.png */
.Monkey-running-sprite, .Monkey-running-run1, .Monkey-running-run2, .Monkey-running-run3 {
  background: url('../img/Monkey-running-s63573ff88f.png') no-repeat;
}

/* line 60, ../../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.Monkey-running-run1 {
  background-position: 0 0;
}

/* line 60, ../../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.Monkey-running-run2 {
  background-position: -70px 0;
}

/* line 60, ../../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.Monkey-running-run3 {
  background-position: -140px 0;
}

/* line 50, Monkey-standing/*.png */
.Monkey-standing-sprite, .Monkey-standing-stand1, .Monkey-standing-stand2 {
  background: url('../img/Monkey-standing-sb4da98c4d0.png') no-repeat;
}

/* line 60, ../../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.Monkey-standing-stand1 {
  background-position: 0 0;
}

/* line 60, ../../../../../../.rbenv/versions/1.9.3-p392/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.Monkey-standing-stand2 {
  background-position: -70px 0;
}

/* line 21, ../sass/sprites.sass */
* {
  image-rendering: -webkit-optimize-contrast;
}

/* line 24, ../sass/sprites.sass */
.basket-sprite {
  background-image: url('../img/pipe.png?1368877200');
}

/* line 27, ../sass/sprites.sass */
.unit {
  width: 70px;
  height: 70px;
  margin: 0;
  padding: 0;
}

/* line 33, ../sass/sprites.sass */
.monkey-sprite {
  width: 70px;
  height: 70px;
  margin: 0;
  padding: 0;
}

/* line 39, ../sass/sprites.sass */
.running {
  -webkit-animation: running 0.5s steps(3) infinite;
}

/* line 42, ../sass/sprites.sass */
.standing {
  -webkit-animation: standing 1.5s steps(2) infinite;
}

/* line 45, ../sass/sprites.sass */
.grabbing {
  -webkit-animation: grabbing 0.55s steps(2) infinite;
}

/* line 48, ../sass/sprites.sass */
.left {
  -webkit-transform: scaleX(-1);
}

@-webkit-keyframes running {
  /* line 52, ../sass/sprites.sass */
  from {
    background-position: -210px;
  }

  /* line 54, ../sass/sprites.sass */
  to {
    background-position: -420px;
  }
}

@-webkit-keyframes standing {
  /* line 58, ../sass/sprites.sass */
  from {
    background-position: -420px;
  }

  /* line 60, ../sass/sprites.sass */
  to {
    background-position: -560px;
  }
}

@-webkit-keyframes grabbing {
  /* line 64, ../sass/sprites.sass */
  from {
    background-position: -70px;
  }

  /* line 66, ../sass/sprites.sass */
  to {
    background-position: -210px;
  }
}

/* line 17, ../sass/styles.sass */
html, body {
  margin: 0;
  padding: 0;
  font-family: "8-Bit Madness";
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* line 25, ../sass/styles.sass */
* {
  box-sizing: border-box;
}

/* line 31, ../sass/styles.sass */
table#scores {
  display: none;
  table-layout: fixed;
  margin-top: 10px;
  z-index: 5;
}
/* line 33, ../sass/styles.sass */
body.playing table#scores {
  display: table;
}
/* line 40, ../sass/styles.sass */
table#scores td {
  text-align: center;
}
/* line 42, ../sass/styles.sass */
table#scores tr.scores {
  font-size: 80px;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.3);
}
/* line 45, ../sass/styles.sass */
table#scores tr.teams {
  font-size: 25px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

/* line 55, ../sass/styles.sass */
#splash {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  font-size: 200px;
  text-shadow: 5px 5px rgba(0, 0, 0, 0.3);
}
/* line 56, ../sass/styles.sass */
body.playing #splash {
  display: none;
}
/* line 64, ../sass/styles.sass */
#splash .brand {
  text-shadow: 3px 3px rgba(0, 0, 0, 0.3);
  width: 100%;
  text-align: center;
  font-size: 50px;
  position: absolute;
  top: -20px;
  left: 0;
  padding-right: 200px;
}
/* line 73, ../sass/styles.sass */
#splash .addon {
  font-size: 100px;
  position: absolute;
  right: 60px;
  bottom: -10px;
  color: #f1c40f;
  -webkit-animation: wagging 2s infinite alternate;
}

/* line 82, ../sass/styles.sass */
#scores-container {
  height: 10%;
}

/* line 85, ../sass/styles.sass */
table#scores {
  height: 100%;
  width: 100%;
}

/* line 89, ../sass/styles.sass */
#canvas-container {
  height: 90%;
}
