@import 'compass/css3/images'
@import 'animation'
@import 'compass/css3/transform'

$green: rgb(132,189,0)
$black: rgb(0,0,0)
$grey: rgb(130,130,130)
$sand: rgb(236,235,232)
$brown: #7c4e20
$shadow-color: rgba(black, .3)

html, body
  margin: 0
  padding: 0
  font-family: '8-Bit Madness'
  height: 100%
  width: 100%
  overflow: hidden

*
  box-sizing: border-box

body
  background: $green

table#scoreboard
  table-layout: fixed
  margin-top: 10px
  position: absolute
  width: 100%
  z-index: 5
  td
    text-align: center
  tr.scores
    font-size: 80px
    text-shadow: 4px 4px $shadow-color
  tr.teams
    font-size: 25px
    text-shadow: 1px 1px $shadow-color
    td:nth-child(n)
      color: #0000e6
    td:nth-child(2n)
      color: #ff1a1a
    td:nth-child(3n)
      color: #00e6e6

#arena
  height: 80%
  .unit
    font-size: 1.8em
    position: absolute
    text-align: center
  .monkey
    color: $brown
    font-size: 4.0em
    &::after
      content: '\1F435'
  .track
    text-shadow: .15em .15em rgba(0,0,0,.3)
    color: $black
    font-size: 3.0em
    +animation(bounce 3s infinite)
    &::after
      content: '\266A'
  .basket
    color: $black
    font-size: 4.0em
    &::after
      content: 'B'

+keyframes(bounce)
  0%, 100%
    +transform(rotate(-15deg))
  50%
    +transform(rotate(15deg))
